/*ABOUT SECTION*/
.about-gradient{
    background: linear-gradient(to bottom, var(--level-0), var(--level-1));
}

.about{
  font-size: 18px;
  max-width: 600px;
  padding: 15px;
  
}

.about-link{
  color: var(--level-5);
  font-weight: 700;
}
.about-link:hover{
  color: var(--level-2);
  font-weight: 700;
}
.keyword{
  font-weight: 800;
}