/*ABOUT SECTION*/

.about{
  font-size: 18px;
  max-width: 600px;
}

.about-link{
  color: var(--level-5);
  font-weight: 700;
}
.about-link:hover{
  color: var(--level-2);
  font-weight: 700;
}
.keyword{
  font-weight: 800;
}